.para-style{
  color: blue;
  font-size: 3rem;
  font-weight: bolder;
  font-style: italic;
}

button{
    width: 100px;
    height: 50px;
    margin: 20px;
}
.anim{
    box-shadow: 0 15px 18px 0 tomato;
    opacity: .5;
}